/*Banner*/
.background{
	background-image: url("../images/header.png");
	height: 600px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
/*header*/
header{
	padding:17px 0;
}

.container{
	width:100%;
	margin:0 auto;

}
.header-nav{
	padding-right:0px;
}
.logo{
	width: 162px;
	margin-bottom:32px;
	margin-top:33px;
	margin-left:30px;
}
.logo1{
	width: 162px;
	margin-bottom:32px;
	margin-top:33px;
	margin-left:1350px;
}

.flex{
	display: flex;
	justify-content:space-between;
	
}
/*navigation*/
.navbar-link{
    font-size: 20px;
    font-family: "BPG Glaho WEB Caps", Regular;
    margin-right: 33px;	
    transition: all 0.3s ease 0s;
}
.nav-item{
	margin-right: 21px;
}
.navbar-nav{
font-family: "BPG Glaho WEB Caps", Regular;
margin-top: 15px;
padding-left: 25%;
color:black;
font-size: 20px
transition: all 0.3s ease 0s;
}
.nav-link{
	color: #000;
}
.nav-item:hover > a{
	color:#B8EDF8;
}	
/*rasvaketeb*/
.box-wrapper{
	border:2px solid grey;
}
.img{
	height: 70px;
}
.veb{
	color: #fff;
	font-size: 40px;
	font-family:"BPG Glaho WEB Caps",Regular;
	margin-left: 480px;
	margin-top:200px;
}
.saxeli{
	color:#fff;
	font-size: 30px;
	margin-left: 670px;
	font-family: "BPG Nino Mkhedruli Book", sans-serif;
}
.rasvaketeb{
font-family: "BPG Glaho WEB Caps",Regular;
font-size: 20px;
margin-right: 3px;
margin-top: 38px;
text-align: center;
margin-bottom: 19px;

}
.xazi{
	width: 26px;
	margin-left: 95px;
}
.xazi1{
width: 96px;
margin-top:0px;
}
.text-center{
font-family: "BPG Glaho WEB Caps",Regular;
font-size: 20px;
margin-right: 3px;
margin-top: 38px;
text-align: center;
margin-bottom: 19px;
}
.lorem{
color: #666666;
font-size: 16px;
margin-left: 36px;
}
/*chems shesaxeb*/
.image img{
	width: 100%;
}
.image{
	border:3px solid #B8EDF8;
}
/*about us*/
.about-us{
	background-color:#F1F1F1;
	margin-top: 20px;
	width: 101%;
}
.artisti{
    max-width: 370px;	
	width:100%;
	box-shadow: 30px 30px;
	 color:#B8EDF8;
}
.artist-text{
	font-size: 14px;
	font-family: "BPG Nino Mkhedruli",Regular;
}

/*form*/
.form{
	background-color: #B8EDF8;
	width: 101%;
	padding-top:10px;

}
.contact-box{
	width: 100%;
    max-width: 554px;
    margin: auto;

}
.send{
    background-color:#fff;
    border: none;
    font-family: "BPG Glaho WEB Caps",Regular;
    width: 80px;
    padding: 10px 5px 10px 2px;
    color: #7EC4CE;
    font-size: 16px;
    margin-left: 930px;
}

.form-control{
	background-color:#B8EDF8;
	border:2px solid #000;
    width: 600px;
    padding:10px 5px 10px 2px;
    font-family: "BPG Glaho WEB Caps",Regular;
    color: #B8EDF8;
    font-size: 18px;
 
}
.row .col-sm-12:hover .image{
position: absolute;
top:20px;
left: 0;
width: 100%;
height: 100%;
background:#B8EDF8;
transition: 2s;
z-index: 2;
}
.kitxvebi{
	font-size:15px;
	color: #666666;
	margin-left:0px;
}
.footer{
	background:#313332;
	width: 101%;
	height: 94px;
	padding-bottom:100px;

}
.copyright{
	font-size: 14px;
	font-family: "BPG Glaho WEB Caps",Regular;
	color: #fff;
	margin-left:30px;
	margin-top:-50px;	
}

/*media*/
@media (max-width: 991px){
	.responsive-mt{
		margin-top:30px;
	}
}
@media (max-width: 767px){
	.responsive-mt2{
		margin-top:30px;
	}
}